.about {
    margin-top: 120px;
    display: flex;
    text-align: left;
    color: var(--white);
    position: relative;
}

span {
    color: var(--purple);
}

.right a {
    text-decoration: none;
    border-bottom: 0.5px solid var(--purple);
}

.right h1 {
    margin: 80px 0px 0px 500px;
    font-size: 34px;
    font-weight: normal;
    position: absolute;
    color: var(--purple);
    font-family: "Space Grotesk", sans-serif;
}

.right p {
    margin: 140px 115px 0px 500px;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
}

.about-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.kalimba img {
    display:none;
}

.kalimba:hover img{
    display: block;
    position: absolute;
    right: 10px;
    top: 170px;
    width: 15%;
}


.mimi img {
    display: none;
}

.mimi:hover img {
    display: block;
    position: absolute;
    right: 230px;
    top: 230px;
    width: 15%;
}
