
.wrapper p {
    margin: 80px 0px 0px 50px;
    color: var(--white);
}

.poetry-wrapper {
    margin-top: 110px;
    font-size: 36px;
    list-style: none;
}

.poetry-wrapper li {
    color: white;
}

.poetry-wrapper a {
    text-decoration: none;
}

.poetry-wrapper a:hover:after {
    color: var(--white);
    content: " ➔";
    animation: fadeInAnimation ease .4s;
	animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.caption {
    padding: 0px 0px 0px 60px;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 40px;

}

.btn {
    position: relative;
    top: 20px;
    font-family: "Space Grotesk";
    font-weight: 500;
    outline: none;
    padding: 6px 12px 6px 12px;
    margin-right: 8px;
    background-color: var(--bg);
    color: var(--white);
    border-color: var(--purple);
    border-radius: 5px;
    border-width: 0.5px;
    cursor: pointer;  
}
  
.btn:hover {
    background-color: var(--purple);
    color: var(--bg);
}

.btn.active {
    background-color: var(--purple);
    color: var(--bg);
}

.gallery {
	display: flex;
	transition: .3s;
    padding-top: 50px;
}

.gallery img {
    filter: grayscale(100%);
}

.gallery img:hover {
    filter: grayscale(0%);
}

.gallery__column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gallery__link {
    cursor: default;
    overflow: hidden;
}

.gallery__link:hover {
    overflow: hidden;
}

.gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gallery__thumb {
    position: relative;   
}

.gallery__image {
    display: block;
    width: 100%;
    transition: .3s;
    padding: 20px 20px 0 0;
}

.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
    transition: .3s;
}

#bike {
    margin-top: 20px;
    color: rgb(255, 255, 255, 0.8);
}

