
/* Color Pallete */

:root {
    --bg: #121212;
    --purple: #EABFFF;
    --cyan: #98F9FF;
    --white: white;

    --purple-hover: white;
    --purple-tp: rgb(234, 191, 255, 0.5);
    --gradient: linear-gradient(90deg, rgba(152,249,255,1) 0%, rgba(234,191,255,1) 100%);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.5;
    background: var(--bg);
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: var(--purple);
}

a:hover {
    color: var(--purple-hover);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0 160px;
    padding-bottom: 100px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

/* Header - Navigation */

.logo img {
    display:block;
    width: 48px;
    height: 48px;
}

.logo img:last-child {
    display: none; 
}

.logo:hover img:last-child {
    display: block;
}

.logo:hover img:first-child {
    display: none;  
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 320;
    width: calc(1440px - 320px);
    top: 36px;
}

.desktop-nav .menu-items {
    display: flex;
    list-style: none;
}

.desktop-nav .menu-items li {
    margin: 0 16px;
}

.desktop-nav .menu-items li a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    position: relative;
}

.desktop-nav .menu-items li a.active {
    color: var(--purple);
}

.desktop-nav .menu-items li a:hover {
    color: var(--purple);
    transition: 0.2s;
}

.desktop-nav .menu-items li a.active::after { 
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--purple);
    left: 0;
    bottom: -8px;
    border-radius: 5px;
    color: var(--purple);
}

/* Hero Section */

.hero-container {
    margin-top: 120px;
    display: flex;
    text-align: left;
    color: var(--white);
    position: relative;
}

.hero-container span {
    color: var(--purple);
}

.hero-container .left h1 {
    margin: 60px 0px 0px 90px;
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    color: var(--purple);
    font-family: "Space Mono", sans-serif;
    font-style: italic;
}

.hero-container .left h2 {
    margin: 130px 330px 0px 90px;
    font-size: 28px;
    font-weight: normal;
    position: absolute;
}

.hero-container .left p {
    margin: 225px 400px 0px 90px;
    font-size: 24px;
    font-weight: normal;
    position: absolute;
}

.hero-bg {
    position: absolute;
    width: 100%;
}

.title {
    color: var(--white);
    font-weight: normal;
    width: 100%; 
    text-align: left; 
    border-bottom: 0.1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, 
    rgba(144,213,218,1) 0%, rgba(73,45,87,1) 100%);
    line-height: 0.1em;
    margin-top: 320px;
} 

.title span { 
    background:var(--bg);
    padding: 0 20px 0 0; 
}

#more {
    margin-top: 50px;
}


/* Projects Featured*/

.feature-container {
    display: block;
    margin-top: 40px;
    
}

.feature-container img {
    width: 100%;
    margin-bottom: 20px;
}

.feature-img {
    height: 292px;
    overflow: hidden;
    border-radius: 10px;    
    margin-top: 20px;
}

.feature-img img {
    transition: transform .5s ease;
}

.feature-img:hover img {
    transform: scale(1.02);
}

/* Projects More*/
.more-container {
    margin-top: 20px;
}

.more-container img {
    width: 100%;
    margin-bottom: 20px;
}

.more-img {
    height: 334px;
    width: 544px;
    overflow: hidden;
    border-radius: 10px;    
    margin-top: 20px;
}

.more-img img {
    transition: transform .5s ease;
}

.more-img:hover img {
    transform: scale(1.02);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* Footer */
footer {
    color: var(--purple);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container .footer-text a{
    padding: 80px;
}

.footer-container .footer-social a {
    text-decoration: none;
}

.footer-container .footer-social a img {
    width: 8%;
    height: auto;
    padding-right: 18px;
    float: right;
    transition: 300ms;
}

.footer-container .footer-social a img:hover {
    transform: scale(1.2);
}